In [1]:
import pandas as pd
import json

from tqdm.auto import tqdm
tqdm.pandas()


import sys, os
sys.path.append(os.path.abspath('../'))
from scripts.utils import create_dir, get_runtime
import time
start_time = time.time()

C:\Users\Richard\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

## Preparing the Historical Dataset (2017-2023)

In [4]:
rental_hist_df = pd.read_csv('../data/curated/rental_data_cleaned.csv')
rental_hist_df.rename(columns={'sa2_code_left': 'sa2_code'}, inplace=True)
rental_hist_df = rental_hist_df[
    [
        'address', 'suburb', 'bed', 'bath', 'car', 'type', 'year', 'sa2_code',
        'median_income', 'population', 'cpi', 'unemployment_rate',
        'lat', 'lng',  'geometry', 'rented_price'
    ]
]
# strip only beginning whitespace character in suburb
rental_hist_df['suburb'] = rental_hist_df['suburb'].str.lstrip()
# convert sa2_code to string
rental_hist_df['sa2_code'] = rental_hist_df['sa2_code'].astype('Int64').astype(str)
# remove type that is not house or unit
rental_hist_df = rental_hist_df[
    rental_hist_df['type'].isin(['House', 'Unit/apmt'])
]
rental_hist_df

,address,suburb,bed,bath,car,type,year,sa2_code,median_income,population,cpi,unemployment_rate,lat,lng,geometry,rented_price
0,"201/560 LONSDALE STREET, MELBOURNE",MELBOURNE,2.0,2.0,1.0,Unit/apmt,2023,206041505,44492.4005,20027.0,5.6,3.691667,-37.813730,144.955580,POINT (144.95558001 -37.81373001),800
1,"201/560 LONSDALE STREET, MELBOURNE",MELBOURNE,2.0,2.0,1.0,Unit/apmt,2023,206041505,44492.4005,20027.0,5.6,3.691667,-37.813730,144.955580,POINT (144.95558001 -37.81373001),800
2,"201/560 LONSDALE STREET, MELBOURNE",MELBOURNE,2.0,2.0,1.0,Unit/apmt,2021,206041505,39300.0000,16098.0,3.5,4.200000,-37.813730,144.955580,POINT (144.95558001 -37.81373001),540
3,"1702/560 LONSDALE STREET, MELBOURNE",MELBOURNE,2.0,1.0,0.0,Unit/apmt,2023,206041505,44492.4005,20027.0,5.6,3.691667,-37.813730,144.955580,POINT (144.95558001 -37.81373001),720
4,"1702/560 LONSDALE STREET, MELBOURNE",MELBOURNE,2.0,1.0,0.0,Unit/apmt,2023,206041505,44492.4005,20027.0,5.6,3.691667,-37.813730,144.955580,POINT (144.95558001 -37.81373001),650
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1531550,"2 WHITECAPS AVENUE, POINT COOK",POINT COOK,4.0,2.0,2.0,House,2019,213051466,59244.0000,19047.0,1.8,5.175000,-37.907750,144.735372,POINT (144.7353721002 -37.90775002),520
1531551,"96 BOARDWALK BOULEVARD, POINT COOK",POINT COOK,3.0,2.0,2.0,Unit/apmt,2019,213051581,57433.0000,9739.0,1.8,5.175000,-37.883631,144.732710,POINT (144.73271 -37.883631),370
1531552,"96 BOARDWALK BOULEVARD, POINT COOK",POINT COOK,3.0,2.0,2.0,Unit/apmt,2019,213051581,57433.0000,9739.0,1.8,5.175000,-37.883631,144.732710,POINT (144.73271 -37.883631),370
1531553,"96 BOARDWALK BOULEVARD, POINT COOK",POINT COOK,3.0,2.0,2.0,Unit/apmt,2019,213051581,57433.0000,9739.0,1.8,5.175000,-37.883631,144.732710,POINT (144.73271 -37.883631),370
1531554,"96 BOARDWALK BOULEVARD, POINT COOK",POINT COOK,3.0,2.0,2.0,Unit/apmt,2018,213051581,57001.0000,9678.0,1.8,5.283333,-37.883631,144.732710,POINT (144.73271 -37.883631),365

In [3]:
proximity_hist_df = pd.read_csv('../data/raw/proximity/time_city.csv')
proximity_hist_df

              lat         lng  city_index  time_city
0      -37.813730  144.955580           0      263.3
1      -37.810280  144.956670           0      210.9
2      -37.813590  144.955720           0      232.5
3      -37.813700  144.953930           0      228.1
4      -37.808826  144.959549           0      225.9
...           ...         ...         ...        ...
447141 -37.896543  144.723878           0     1962.8
447142 -37.913624  144.760232           0     2271.4
447143 -37.915965  144.780830           0     2484.2
447144 -37.896490  144.741029           0     1963.3
447145 -37.883631  144.732710           0     1775.8

[447146 rows x 4 columns]

In [4]:
price_df = pd.read_csv('../data/raw/property-buy-sell/oldlistings_buy_avg.csv')
price_hist_df = price_df[
    (price_df['year'] >= 2017) &
    (price_df['year'] <= 2023)
]
price_hist_df

       year        suburb  avg_property_price
13957  2017    ABBOTSFORD        4.848551e+05
13958  2017    ABERFELDIE        1.229353e+06
13959  2017       ACHERON        5.990000e+05
13960  2017    AChE CREEK        1.140000e+06
13961  2017      AChEDALE        5.540000e+05
...     ...           ...                 ...
23553  2023         YELTA        4.250000e+05
23554  2023        YENDON        6.590000e+05
23555  2023        YINNAR        6.017227e+05
23556  2023  YINNAR SOUTH        7.700000e+05
23557  2023        YUROKE        0.000000e+00

[9601 rows x 3 columns]

Join historical

In [5]:
hist_df = rental_hist_df.merge(proximity_hist_df, on=['lat', 'lng'], how='inner')
hist_df = hist_df.merge(price_hist_df, on=['suburb', 'year'], how='inner')
hist_df

,address,suburb,bed,bath,car,type,year,sa2_code,median_income,population,cpi,unemployment_rate,lat,lng,geometry,rented_price,city_index,time_city,avg_property_price
0,"201/560 LONSDALE STREET, MELBOURNE",MELBOURNE,2.0,2.0,1.0,Unit/apmt,2023,206041505,44492.4005,20027.0,5.6,3.691667,-37.813730,144.955580,POINT (144.95558001 -37.81373001),800,0,263.3,682488.770000
1,"201/560 LONSDALE STREET, MELBOURNE",MELBOURNE,2.0,2.0,1.0,Unit/apmt,2023,206041505,44492.4005,20027.0,5.6,3.691667,-37.813730,144.955580,POINT (144.95558001 -37.81373001),800,0,263.3,682488.770000
2,"201/560 LONSDALE STREET, MELBOURNE",MELBOURNE,2.0,2.0,1.0,Unit/apmt,2021,206041505,39300.0000,16098.0,3.5,4.200000,-37.813730,144.955580,POINT (144.95558001 -37.81373001),540,0,263.3,619543.745192
3,"1702/560 LONSDALE STREET, MELBOURNE",MELBOURNE,2.0,1.0,0.0,Unit/apmt,2023,206041505,44492.4005,20027.0,5.6,3.691667,-37.813730,144.955580,POINT (144.95558001 -37.81373001),720,0,263.3,682488.770000
4,"1702/560 LONSDALE STREET, MELBOURNE",MELBOURNE,2.0,1.0,0.0,Unit/apmt,2023,206041505,44492.4005,20027.0,5.6,3.691667,-37.813730,144.955580,POINT (144.95558001 -37.81373001),650,0,263.3,682488.770000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1230979,"2 WHITECAPS AVENUE, POINT COOK",POINT COOK,4.0,2.0,2.0,House,2019,213051466,59244.0000,19047.0,1.8,5.175000,-37.907750,144.735372,POINT (144.7353721002 -37.90775002),520,0,2111.5,614604.919431
1230980,"96 BOARDWALK BOULEVARD, POINT COOK",POINT COOK,3.0,2.0,2.0,Unit/apmt,2019,213051581,57433.0000,9739.0,1.8,5.175000,-37.883631,144.732710,POINT (144.73271 -37.883631),370,0,1775.8,614604.919431
1230981,"96 BOARDWALK BOULEVARD, POINT COOK",POINT COOK,3.0,2.0,2.0,Unit/apmt,2019,213051581,57433.0000,9739.0,1.8,5.175000,-37.883631,144.732710,POINT (144.73271 -37.883631),370,0,1775.8,614604.919431
1230982,"96 BOARDWALK BOULEVARD, POINT COOK",POINT COOK,3.0,2.0,2.0,Unit/apmt,2019,213051581,57433.0000,9739.0,1.8,5.175000,-37.883631,144.732710,POINT (144.73271 -37.883631),370,0,1775.8,614604.919431
1230983,"96 BOARDWALK BOULEVARD, POINT COOK",POINT COOK,3.0,2.0,2.0,Unit/apmt,2018,213051581,57001.0000,9678.0,1.8,5.283333,-37.883631,144.732710,POINT (144.73271 -37.883631),365,0,1775.8,649943.859838

## Preparing the Current Dataset (2024)

In [6]:
rental_curr_df = pd.read_csv('../data/raw/rental/rental_data_2024.csv')
#rename
rental_curr_df = rental_curr_df.rename(columns={
    'cpi_x': 'cpi',
    'Statistical Areas Level 2 2021 name': 'sa2_name'
})
rental_curr_df = rental_curr_df[
    [
        'address', 'suburb', 'bed', 'bath', 'car', 'type', 'year', 'sa2_code',
        'median_income', 'population', 'cpi', 'unemployment_rate',
        'lat', 'lng',  'geometry', 'rented_price'
    ]
]
# strip only beginning whitespace character in suburb
rental_curr_df['suburb'] = rental_curr_df['suburb'].str.lstrip()
# convert sa2_code to string
rental_curr_df['sa2_code'] = rental_curr_df['sa2_code'].astype('Int64').astype(str)
# remove type that is not house or unit
rental_curr_df = rental_curr_df[
    rental_curr_df['type'].isin(['House', 'Unit/apmt'])
]
rental_curr_df

,address,suburb,bed,bath,car,type,year,sa2_code,median_income,population,cpi,unemployment_rate,lat,lng,geometry,rented_price
0,"201/560 LONSDALE STREET, MELBOURNE",MELBOURNE,2.0,2.0,1.0,Unit/apmt,2024,206041505,42430.858339,20162,3.53,4.014286,-37.813730,144.955580,POINT (144.95558001 -37.81373001),730
1,"901/21 HEALEYS LANE, MELBOURNE",MELBOURNE,2.0,1.0,0.0,Unit/apmt,2024,206041505,42430.858339,20162,3.53,4.014286,-37.813590,144.955720,POINT (144.95572001 -37.81359001),720
2,"3801/601 LITTLE LONSDALE STREET, MELBOURNE",MELBOURNE,2.0,2.0,1.0,Unit/apmt,2024,206041505,42430.858339,20162,3.53,4.014286,-37.813700,144.953930,POINT (144.95393001 -37.8137001),800
3,"1808/318 RUSSELL STREET, MELBOURNE",MELBOURNE,2.0,2.0,0.0,Unit/apmt,2024,206041503,42412.280478,11840,3.53,4.014286,-37.809259,144.966567,POINT (144.9665671 -37.809259),840
4,"707/77 QUEENS ROAD, MELBOURNE",MELBOURNE,2.0,2.0,1.0,Unit/apmt,2024,206051514,66910.824282,15041,3.53,4.014286,-37.852740,144.979740,POINT (144.97974001 -37.85274001),680
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106397,"7 ROSSETTI COURT, PAKENHAM",PAKENHAM,3.0,1.0,0.0,House,2024,212011552,55683.420715,28466,3.53,4.014286,-38.069069,145.463520,POINT (145.46352 -38.069069),520
106398,"7 DISCOVERY STREET, PAKENHAM",PAKENHAM,3.0,2.0,2.0,House,2024,212011551,57772.670788,7044,3.53,4.014286,-38.078518,145.482727,POINT (145.482727 -38.078518),500
106399,"7 DISCOVERY STREET, PAKENHAM",PAKENHAM,3.0,2.0,2.0,House,2024,212011551,57772.670788,7044,3.53,4.014286,-38.078518,145.482727,POINT (145.482727 -38.078518),500
106400,"19 PORTILLO CRESCENT, PAKENHAM",PAKENHAM,4.0,2.0,2.0,Unit/apmt,2024,212011550,58924.808098,9820,3.53,4.014286,-38.052810,145.454962,POINT (145.4549617002 -38.0528099002),580
106401,"11 PINNACLE DRIVE, PAKENHAM",PAKENHAM,3.0,2.0,2.0,Unit/apmt,2024,212011552,55683.420715,28466,3.53,4.014286,-38.083631,145.450307,POINT (145.4503073002 -38.0836306002),520

In [7]:
proximity_curr_df = pd.read_csv('../data/raw/proximity/time_city_2024.csv')
proximity_curr_df

             lat         lng  city_index  time_city
0     -37.813730  144.955580           0      263.3
1     -37.813590  144.955720           0      232.5
2     -37.813700  144.953930           0      228.1
3     -37.809259  144.966567           0      124.0
4     -37.852740  144.979740           0      650.5
...          ...         ...         ...        ...
74904 -38.056386  145.475653           0     3302.3
74905 -38.081892  145.445978           0     2994.1
74906 -38.084847  145.483166           0     3085.5
74907 -38.058136  145.486220           0     3341.4
74908 -38.069069  145.463520           0     3251.4

[74909 rows x 4 columns]

In [8]:
price_curr_df = price_df[price_df['year'] == 2024]
price_curr_df

       year         suburb  avg_property_price
23558  2024     ABBOTSFORD        4.452602e+05
23559  2024     ABERFELDIE        8.675000e+05
23560  2024  ADELAIDE LEAD        4.250000e+05
23561  2024   AIRPORT WEST        8.286422e+05
23562  2024      ALBANVALE        4.830952e+05
...     ...            ...                 ...
24696  2024            YEA        6.527045e+05
24697  2024            YEO        1.217000e+06
24698  2024         YINNAR        5.201429e+05
24699  2024   YINNAR SOUTH        8.200000e+05
24700  2024        ZEERUST        9.140000e+05

[1143 rows x 3 columns]

In [9]:
curr_df = rental_curr_df.merge(proximity_curr_df, on=['lat', 'lng'], how='inner')
curr_df = curr_df.merge(price_curr_df, on=['suburb', 'year'], how='inner')
curr_df

,address,suburb,bed,bath,car,type,year,sa2_code,median_income,population,cpi,unemployment_rate,lat,lng,geometry,rented_price,city_index,time_city,avg_property_price
0,"201/560 LONSDALE STREET, MELBOURNE",MELBOURNE,2.0,2.0,1.0,Unit/apmt,2024,206041505,42430.858339,20162,3.53,4.014286,-37.813730,144.955580,POINT (144.95558001 -37.81373001),730,0,263.3,696152.566964
1,"901/21 HEALEYS LANE, MELBOURNE",MELBOURNE,2.0,1.0,0.0,Unit/apmt,2024,206041505,42430.858339,20162,3.53,4.014286,-37.813590,144.955720,POINT (144.95572001 -37.81359001),720,0,232.5,696152.566964
2,"3801/601 LITTLE LONSDALE STREET, MELBOURNE",MELBOURNE,2.0,2.0,1.0,Unit/apmt,2024,206041505,42430.858339,20162,3.53,4.014286,-37.813700,144.953930,POINT (144.95393001 -37.8137001),800,0,228.1,696152.566964
3,"1808/318 RUSSELL STREET, MELBOURNE",MELBOURNE,2.0,2.0,0.0,Unit/apmt,2024,206041503,42412.280478,11840,3.53,4.014286,-37.809259,144.966567,POINT (144.9665671 -37.809259),840,0,124.0,696152.566964
4,"707/77 QUEENS ROAD, MELBOURNE",MELBOURNE,2.0,2.0,1.0,Unit/apmt,2024,206051514,66910.824282,15041,3.53,4.014286,-37.852740,144.979740,POINT (144.97974001 -37.85274001),680,0,650.5,696152.566964
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87440,"7 ROSSETTI COURT, PAKENHAM",PAKENHAM,3.0,1.0,0.0,House,2024,212011552,55683.420715,28466,3.53,4.014286,-38.069069,145.463520,POINT (145.46352 -38.069069),520,0,3251.4,843219.858156
87441,"7 DISCOVERY STREET, PAKENHAM",PAKENHAM,3.0,2.0,2.0,House,2024,212011551,57772.670788,7044,3.53,4.014286,-38.078518,145.482727,POINT (145.482727 -38.078518),500,0,3126.4,843219.858156
87442,"7 DISCOVERY STREET, PAKENHAM",PAKENHAM,3.0,2.0,2.0,House,2024,212011551,57772.670788,7044,3.53,4.014286,-38.078518,145.482727,POINT (145.482727 -38.078518),500,0,3126.4,843219.858156
87443,"19 PORTILLO CRESCENT, PAKENHAM",PAKENHAM,4.0,2.0,2.0,Unit/apmt,2024,212011550,58924.808098,9820,3.53,4.014286,-38.052810,145.454962,POINT (145.4549617002 -38.0528099002),580,0,3297.1,843219.858156
87444,"11 PINNACLE DRIVE, PAKENHAM",PAKENHAM,3.0,2.0,2.0,Unit/apmt,2024,212011552,55683.420715,28466,3.53,4.014286,-38.083631,145.450307,POINT (145.4503073002 -38.0836306002),520,0,2960.2,843219.858156

In [10]:
# Join historical and current data
df = pd.concat([hist_df, curr_df], ignore_index=True)
df

,address,suburb,bed,bath,car,type,year,sa2_code,median_income,population,cpi,unemployment_rate,lat,lng,geometry,rented_price,city_index,time_city,avg_property_price
0,"201/560 LONSDALE STREET, MELBOURNE",MELBOURNE,2.0,2.0,1.0,Unit/apmt,2023,206041505,44492.400500,20027.0,5.60,3.691667,-37.813730,144.955580,POINT (144.95558001 -37.81373001),800,0,263.3,682488.770000
1,"201/560 LONSDALE STREET, MELBOURNE",MELBOURNE,2.0,2.0,1.0,Unit/apmt,2023,206041505,44492.400500,20027.0,5.60,3.691667,-37.813730,144.955580,POINT (144.95558001 -37.81373001),800,0,263.3,682488.770000
2,"201/560 LONSDALE STREET, MELBOURNE",MELBOURNE,2.0,2.0,1.0,Unit/apmt,2021,206041505,39300.000000,16098.0,3.50,4.200000,-37.813730,144.955580,POINT (144.95558001 -37.81373001),540,0,263.3,619543.745192
3,"1702/560 LONSDALE STREET, MELBOURNE",MELBOURNE,2.0,1.0,0.0,Unit/apmt,2023,206041505,44492.400500,20027.0,5.60,3.691667,-37.813730,144.955580,POINT (144.95558001 -37.81373001),720,0,263.3,682488.770000
4,"1702/560 LONSDALE STREET, MELBOURNE",MELBOURNE,2.0,1.0,0.0,Unit/apmt,2023,206041505,44492.400500,20027.0,5.60,3.691667,-37.813730,144.955580,POINT (144.95558001 -37.81373001),650,0,263.3,682488.770000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1318424,"7 ROSSETTI COURT, PAKENHAM",PAKENHAM,3.0,1.0,0.0,House,2024,212011552,55683.420715,28466.0,3.53,4.014286,-38.069069,145.463520,POINT (145.46352 -38.069069),520,0,3251.4,843219.858156
1318425,"7 DISCOVERY STREET, PAKENHAM",PAKENHAM,3.0,2.0,2.0,House,2024,212011551,57772.670788,7044.0,3.53,4.014286,-38.078518,145.482727,POINT (145.482727 -38.078518),500,0,3126.4,843219.858156
1318426,"7 DISCOVERY STREET, PAKENHAM",PAKENHAM,3.0,2.0,2.0,House,2024,212011551,57772.670788,7044.0,3.53,4.014286,-38.078518,145.482727,POINT (145.482727 -38.078518),500,0,3126.4,843219.858156
1318427,"19 PORTILLO CRESCENT, PAKENHAM",PAKENHAM,4.0,2.0,2.0,Unit/apmt,2024,212011550,58924.808098,9820.0,3.53,4.014286,-38.052810,145.454962,POINT (145.4549617002 -38.0528099002),580,0,3297.1,843219.858156
1318428,"11 PINNACLE DRIVE, PAKENHAM",PAKENHAM,3.0,2.0,2.0,Unit/apmt,2024,212011552,55683.420715,28466.0,3.53,4.014286,-38.083631,145.450307,POINT (145.4503073002 -38.0836306002),520,0,2960.2,843219.858156

## Preparing Future Dataset (2029)

In [11]:
# Create dictionary for unique suburb as key and SA2 code as value
suburb_sa2_dict = \
    df[['suburb', 'sa2_code']] \
        .drop_duplicates(). \
            set_index('suburb') \
                .to_dict()['sa2_code']
suburb_sa2_dict

{'MELBOURNE': '213031347',
 'IVANHOE': '209011203',
 'DOCKLANDS': '206051130',
 'BEACONSFIELD': '205041094',
 'MOONEE PONDS': '206041504',
 'MILDURA': '210051445',
 'CRAIGIEBURN': '209041225',
 'SOUTH MORANG': '209041527',
 'BRIGHTON': '208011173',
 'TEMPLESTOWE LOWER': '207021156',
 'BRUNSWICK WEST': '206041124',
 'BAIRNSDALE': '207011149',
 'DONCASTER EAST': '211041270',
 'ST LEONARDS': '206031113',
 'HAWTHORN EAST': '207011154',
 'THORNBURY': '209021429',
 'AIRPORT WEST': '210051250',
 'HUGHESDALE': '216021413',
 'ST KILDA EAST': '217031476',
 'CARLTON NORTH': '217011421',
 'SALE': '205051102',
 'ROWVILLE': '211011448',
 'ORMOND': '208021174',
 'DARNUM': '205011079',
 'BURWOOD EAST': '207031161',
 'HAZELWOOD': '205041094',
 'CARLTON': '207011519',
 'MACLEOD': '212021295',
 'WODONGA': '210011533',
 'TARNEIT': '203031051',
 'HOPPERS CROSSING': '213051586',
 'LYNDHURST': '203021044',
 'SOUTH YARRA': '211051286',
 'POINT COOK': '208021174',
 'DONVALE': '212041317',
 'KEW': '205041493',
 'KIALLA': '204031073',
 'WILLIAMS LANDING': '206041505',
 'PATTERSON LAKES': '212041564',
 'NOBLE PARK': '209041221',
 'RINGWOOD': '211031451',
 'ALBANVALE': '213011569',
 'NICHOLS POINT': '215021395',
 'MALVERN EAST': '208021180',
 'ARCADIA SOUTH': '204011055',
 'WYNDHAM VALE': '208031184',
 'BACCHUS MARSH': '208031188',
 'MORDIALLOC': '208031184',
 'CRANBOURNE': '212031306',
 'STRATH CREEK': '204011062',
 'MARIBYRNONG': '206031113',
 'RESERVOIR': '212021295',
 'KEYSBOROUGH': '206031113',
 'WEST FOOTSCRAY': '206031113',
 'BONBEACH': '207011148',
 'HAMPTON PARK': '208011172',
 'DONCASTER': '207021160',
 'ST ALBANS PARK': '213011334',
 'MALVERN': '206061138',
 'COWES': '211031450',
 'PRESTON': '207011522',
 'DAYLESFORD': '213041463',
 'KEILOR EAST': '210011230',
 'TOORAK': '208041195',
 'SOUTH KINGSVILLE': '213021343',
 'MOUNT MACEDON': '210021233',
 'JACK RIVER': '205051104',
 'TULLAMARINE': '210011231',
 'DRYSDALE': '203031052',
 'GLEN IRIS': '208031183',
 'MELTON SOUTH': '209041527',
 'DOREEN': '209041436',
 'YARRAVILLE': '212041564',
 'ST KILDA': '213011569',
 'PRAHRAN': '207011147',
 'KILSYTH SOUTH': '211031450',
 'MERNDA': '207011146',
 'SPRINGVALE': '210031538',
 'BURWOOD': '207031161',
 'BOX HILL': '207011147',
 'GREENVALE': '210051245',
 'DROMANA': '214021383',
 'SOMERVILLE': '205031091',
 'WYCHEPROOF': '215031400',
 'BELMONT': '203021487',
 'MICKLEHAM': '212031457',
 'TRUGANINA': '213041360',
 'CLAYTON SOUTH': '212041318',
 'SOUTH MELBOURNE': '206071141',
 'DERRIMUT': '213011569',
 'MIDDLE PARK': '206051512',
 'NARRE WARREN SOUTH': '212021456',
 'BUNDOORA': '209021525',
 'KILSYTH': '211031267',
 'SHEPPARTON NORTH': '216031594',
 'ARMADALE': '208041194',
 'RESEARCH': '209021523',
 'TRARALGON': '205041096',
 'SEBASTOPOL': '201011002',
 'EUMEMMERRING': '212021295',
 'DANDENONG': '208031188',
 'FRANKSTON': '214011370',
 'GEELONG WEST': '203021046',
 'WEST MELBOURNE': '209041432',
 'WERRIBEE': '212031304',
 'WERRIBEE SOUTH': '206071518',
 'COBURG': '203021488',
 'BORONIA': '211011449',
 'DARLEY': '213011337',
 'WANTIRNA SOUTH': '211041272',
 'ROXBURGH PARK': '210051247',
 'ECHUCA': '216011408',
 'BENTLEIGH': '208011170',
 'WANGARATTA': '213011331',
 'WALLAN': '206031116',
 'SUNSHINE NORTH': '213011338',
 'WATSONIA': '209011197',
 'HEATHERTON': '208031191',
 'CHIRNSIDE PARK': '207011155',
 'MULGRAVE': '212051568',
 'ST ALBANS': '213041462',
 'FLEMINGTON': '213031348',
 'FAIRFIELD': '206021500',
 'BEAUMARIS': '208011173',
 'SOUTHBANK': '206041125',
 'HAMPTON EAST': '208011170',
 'GRUYERE': '211051285',
 'BENTLEIGH EAST': '208021179',
 'ALTONA NORTH': '213021342',
 'MURCHISON': '204011058',
 'BAMAWM': '216011408',
 'RINGWOOD EAST': '211041270',
 'CHELTENHAM': '208031189',
 'CAROLINE SPRINGS': '213041574',
 'SHEPPARTON': '216031415',
 'SAN REMO': '211011446',
 'MOUNT WAVERLEY': '212041317',
 'BOX HILL SOUTH': '207031167',
 'CAULFIELD NORTH': '212041316',
 'NORLANE': '203021486',
 'FRANKSTON SOUTH': '214021385',
 'PORTLAND': '201011481',
 'ELSTERNWICK': '206051512',
 'ELWOOD': '208011170',
 'CRANBOURNE WEST': '213041574',
 'HORSHAM': '215011390',
 'MONBULK': '209011202',
 'COBURG NORTH': '212051322',
 'CORAGULAC': '217031473',
 'WILLIAMSTOWN': '213031350',
 'CAULFIELD': '215031405',
 'FERNTREE GULLY': '211011256',
 'CAMPERDOWN': '217031475',
 'LARA': '214021382',
 'NORTHCOTE': '206061135',
 'ASHBURTON': '212051319',
 'ROSANNA': '208021176',
 'BRIGHTON EAST': '208021179',
 'WARRANDYTE': '209031214',
 'BALLAN': '201011006',
 'CLYDE NORTH': '209041527',
 'REDAN': '201011006',
 'ANCONA': '204011057',
 'GEELONG': '203031490',
 'TORQUAY': '203031489',
 'FAWKNER': '210031440',
 'DANDENONG NORTH': '208031188',
 'SOUTHERN CROSS': '217041478',
 'KALKALLO': '212031556',
 'HIGHTON': '217011420',
 'ABBOTSFORD': '215011390',
 'BENDIGO': '202011024',
 'BOISDALE': '205051101',
 'LANGWARRIN': '214011372',
 'MCKINNON': '208021427',
 'BLACK ROCK': '208031188',
 'SURREY HILLS': '207011149',
 'MENTONE': '214011371',
 'RYE': '205041096',
 'SANDRINGHAM': '208011171',
 'MANGALORE': '204011058',
 'PAKENHAM': '214021592',
 'CHADSTONE': '208021181',
 'NEWPORT': '213021346',
 'MAIDSTONE': '213031349',
 'BERWICK': '211031266',
 'ASCOT VALE': '210011228',
 'MEADOW HEIGHTS': '210051243',
 'BUSHFIELD': '217041479',
 'MOUNT PLEASANT': '203021037',
 'PORT FAIRY': '217041478',
 'LAVERTON': '213021345',
 'MORNINGTON': '212021293',
 'GLEN HUNTLY': '202011019',
 'WARNEET': '212031308',
 'KEW EAST': '206071140',
 'NOBLE PARK NORTH': '212041312',
 'CLIFTON HILL': '206021110',
 'FITZROY NORTH': '206021500',
 'HASTINGS': '214011371',
 'STAWELL': '215011392',
 'BUNGAREE': '201021012',
 'MILL PARK': '209011204',
 'DIAMOND CREEK': '209031215',
 'CAMBERWELL': '203021485',
 'SUNSHINE WEST': '210011534',
 'MANIFOLD HEIGHTS': '203021039',
 'MAFFRA': '212041460',
 'ALBION': '207031163',
 'MOE': '206071518',
 'BALLARAT NORTH': '201011481',
 'OAK PARK': '212041317',
 'HEIDELBERG HEIGHTS': '209021524',
 'HALLS GAP': '215011388',
 'BALWYN NORTH': '207011154',
 'CORIO': '203021488',
 'KENNINGTON': '202011018',
 'BULLEEN': '207021160',
 'MOOROOLBARK': '211051275',
 'FOREST HILL': '211041271',
 'TRAVANCORE': '206031113',
 'MARDAN': '205031090',
 'MIRBOO NORTH': '205031090',
 'COLLINGWOOD': '206071139',
 'CHEROKEE': '210021234',
 'NUMURKAH': '216031416',
 'GORAE': '217011420',
 'ROSEDALE': '205051102',
 'ATHLONE': '205011076',
 'MADDINGLEY': '210011534',
 'OAKLEIGH EAST': '208021427',
 'SYDENHAM': '213041360',
 'KNOXFIELD': '211011254',
 'BEVERIDGE': '212021456',
 'SEVILLE EAST': '211051285',
 'CLARINDA': '207031166',
 'MONTMORENCY': '209011197',
 'ASPENDALE GARDENS': '208031189',
 'UPPER FERNTREE GULLY': '211051282',
 'ESSENDON': '210031537',
 'SAINT HELENA': '209031209',
 'LONGWARRY': '212011547',
 'GLADSTONE PARK': '210051245',
 'SPRING GULLY': '202011022',
 'BALWYN': '207011520',
 'COBRAM': '216021413',
 'AVONDALE HEIGHTS': '213021344',
 'BELGRAVE': '211051274',
 'DIXIE': '217031475',
 'NEERIM JUNCTION': '205011077',
 'POREPUNKAH': '204031069',
 'NHILL': '215011390',
 'BLACKBURN SOUTH': '207031165',
 'KINGSVILLE': '213031352',
 'WAURN PONDS': '210021235',
 'NULLAWARRE': '217041477',
 'NORTH WONTHAGGI': '205031093',
 'CLIFTON SPRINGS': '203031052',
 'JACKASS FLAT': '213051580',
 'BOWENVALE': '201031017',
 'BALACLAVA': '206051129',
 'KANGAROO FLAT': '209031215',
 'DELACOMBE': '201011002',
 'EAST GEELONG': '203021045',
 'IVANHOE EAST': '209011199',
 'KILMORE': '212041312',
 'WESTMEADOWS': '203021047',
 'GISBORNE': '210041541',
 'WOODVALE': '202011019',
 'ALTONA MEADOWS': '207011152',
 'SOUTH GEELONG': '203021039',
 'POMBORNEIT': '217031475',
 'CAPEL SOUND': '214021383',
 'MANOR LAKES': '213051589',
 'NEWCOMB': '203021045',
 'MOUNT MARTHA': '208021179',
 'KALIMNA': '205021084',
 'EAGLEHAWK': '207021156',
 'THOMASTOWN': '210051243',
 'WARRNAMBOOL': '215021470',
 'CHRISTMAS HILLS': '209031212',
 'NIDDRIE': '208021177',
 'PASCOE VALE SOUTH': '210011231',
 'BAYSWATER': '211031450',
 'NARRE WARREN NORTH': '212031458',
 'ORBOST': '205021085',
 'LANCEFIELD': '210021235',
 'CARLSRUHE': '202021030',
 'CARLTON SOUTH': '206041117',
 'DINGLEY VILLAGE': '208031184',
 'MOLESWORTH': '204011062',
 'MYRTLEFORD': '213051362',
 'FERNBANK': '205021082',
 'YALCA': '216021413',
 'HEATHMONT': '211031266',
 'CAVENDISH': '217011423',
 'CRESWICK': '201021010',
 'WILDWOOD': '210041240',
 'PARKVILLE': '206031115',
 'SWAN HILL': '215031405',
 'ALPHINGTON': '212051326',
 'TRENTHAM': '201021011',
 'ELTHAM': '209031214',
 'HAMILTON': '211031263',
 'NOTTING HILL': '205041494',
 'STRATHMORE': '210031538',
 'OFFICER SOUTH': '212011546',
 'SUNSET STRIP': '205031091',
 'CHELSEA': '214011371',
 'HERNE HILL': '203021046',
 'NORTH BENDIGO': '207011520',
 'HOPETOUN': '215011394',
 'CARRUM': '214011370',
 'BEECH FOREST': '217031476',
 'BELGRAVE HEIGHTS': '211051274',
 'WONTHAGGI': '212051568',
 'CAMPBELLFIELD': '210031237',
 'LAKE GARDENS': '213051583',
 'WATERWAYS': '208031184',
 'MOYSTON': '215011387',
 'LALOR': '209021428',
 'ARDMONA': '216031419',
 'MAUDE': '203011035',
 'CARISBROOK': '201031017',
 'WARRACKNABEAL': '217041480',
 'YELLINGBO': '211051286',
 'DALLAS': '210051242',
 'LEOPOLD': '212031561',
 'BRIGHT': '208011169',
 'BLAIRGOWRIE': '214021383',
 'DELAHEY': '213011333',
 'TOONGABBIE': '205041098',
 'LAKE WENDOUREE': '201011005',
 'KYNETON': '201021011',
 'GLENORCHY': '215011392',
 'INVERMAY': '209021523',
 'WINDSOR': '209011196',
 'GEELONG NORTH': '203021047',
 'DROUIN': '205011079',
 'BALLARAT': '201011006',
 'ST KILDA WEST': '206051134',
 'BALLARAT EAST': '201011002',
 'CRANBOURNE SOUTH': '212031300',
 'UPWEY': '211051284',
 'TAYLORS HILL': '213041574',
 'MAJORCA': '201031017',
 'PORT ALBERT': '205051104',
 'BELL PARK': '206011497',
 'NOWA NOWA': '205021085',
 'BOX HILL NORTH': '207031161',
 'BELL POST HILL': '203021486',
 'ARARAT': '201031013',
 'SPRINGFIELD': '210021235',
 'WHEELERS HILL': '212051321',
 'BARANDUDA': '204031491',
 'FINGAL': '214021383',
 'TOLMIE': '204011057',
 'MAMBOURIN': '213051579',
 'SUTTON GRANGE': '202021028',
 'MELTON': '213041572',
 'KILMORE EAST': '209041224',
 'HEATHCOTE': '204011060',
 'BONNIE DOON': '204011057',
 'NERRINA': '201011482',
 'CURLEWIS': '207031167',
 'BEECHWORTH': '210051246',
 'TINAMBA': '205051101',
 'LORNE': '203031049',
 'DRUMCONDRA': '203021047',
 'MOUNT ELIZA': '214021381',
 'OUYEN': '215021398',
 'ALEXANDRA': '204011054',
 'KINGSTON': '212051568',
 'TENBY POINT': '205031093',
 'MAINDAMPLE': '204011057',
 'DEEPDENE': '207011147',
 'CORRYONG': '204031072',
 'WINCHELSEA': '217031473',
 'ST ARNAUD': '215011391',
 'NORONG': '204021065',
 'WELSHMANS REEF': '202021028',
 'CALIFORNIA GULLY': '202011018',
 'GAPSTED': '204031071',
 'HARKAWAY': '212021299',
 'AIRLY': '205051101',
 'SEYMOUR': '204011060',
 'COLAC': '217031473',
 'CROYDON SOUTH': '211031450',
 'MOUNT BEAUTY': '204031069',
 'WHITTINGTON': '203021045',
 'BERRIWILLOCK': '215031400',
 'KOO WEE RUP': '212011548',
 'SIMPSON': '217031475',
 'SORRENTO': '214021383',
 'BOTANIC RIDGE': '217031474',
 'GUNBOWER': '216011408',
 'ROMSEY': '210021235',
 'CHARLEMONT': '203031490',
 'BET BET': '201031017',
 'EAGLEMONT': '209011198',
 'YATCHAW': '217011423',
 'CAPE WOOLAMAI': '205031091',
 'CONNEWARRE': '203031489',
 'LEONGATHA SOUTH': '205031090',
 'FOOTSCRAY WEST': '213031351',
 'HIDDEN VALLEY': '212011546',
 'VERMONT': '201031015',
 'INDENTED HEAD': '203031051',
 'DOOEN': '215011389',
 'VENTNOR': '205031091',
 'TYRENDARRA': '217011420',
 'MANSFIELD': '204011055',
 'MURRAYVILLE': '215021398',
 'TAWONGA SOUTH': '204031069',
 'KYABRAM': '216031419',
 'BIRREGURRA': '217031473',
 'BROADWATER': '217041478',
 'JAN JUC': '203031053',
 'WIMBLEDON HEIGHTS': '205031091',
 'GELLIBRAND': '217031476',
 'DALYSTON': '205031093',
 'PRINCES HILL': '206071140',
 'DIGGERS REST': '210051246',
 'ASPENDALE': '208031186',
 'NINTINGBOOL': '201011007',
 'WANGANDARY': '204021067',
 'WATTLE GLEN': '209031215',
 'THE BASIN': '211011446',
 'MARONG': '202021026',
 'GOBUR': '204011054',
 'SEASPRAY': '205051100',
 'HURSTBRIDGE': '209031215',
 'LOWER PLENTY': '209011203',
 'SPOTSWOOD': '213011338',
 'WOODSTOCK': '209041225',
 'BALLARAT CENTRAL': '201011482',
 'ELPHINSTONE': '202021028',
 'BALNARRING': '214021379',
 'WOOLAMAI': '205031093',
 'EASTWOOD': '205021082',
 'BOX HILL CENTRAL': '207031163',
 'LUCAS': '213041359',
 'HUNTLY': '204021063',
 'MOUNT COTTRELL': '213041359',
 'PINE LODGE': '216031418',
 'EMERALD': '211051274',
 'BITTERN': '214021379',
 'CHELSEA HEIGHTS': '208031186',
 'SASSAFRAS': '206061136',
 'MONT ALBERT': '212031556',
 'TOOTGAROOK': '214021383',
 'YARRA JUNCTION': '211051286',
 'GLENROWAN WEST': '204021064',
 'MACCLESFIELD': '211051279',
 'ALLENDALE': '201021010',
 'MOE SOUTH': '205041095',
 'PRESTON WEST': '209021428',
 'YARRAWONGA': '216021412',
 'SILVERLEAVES': '205031091',
 'ECHUCA WEST': '216011408',
 'HALLAM': '212011552',
 'DROUIN SOUTH': '205011076',
 'COBDEN': '217031475',
 'NEWSTEAD': '202021028',
 'ENFIELD': '201031015',
 'INVERLEIGH': '203011035',
 'ROBINVALE': '215031403',
 'YEA': '211011251',
 'JUNORTOUN': '202011024',
 'COROROOKE': '217031473',
 'LONG GULLY': '211031266',
 'CORONET BAY': '205031093',
 'AXEDALE': '202021026',
 'BURNSIDE HEIGHTS': '213041461',
 'ANAKIE': '203011035',
 'CAPE PATERSON': '205031093',
 'KENNETT RIVER': '217031476',
 'HEATH HILL': '212011548',
 'BURNSIDE': '213041462',
 'NICHOLSON': '208031186',
 'LAKE BOGA': '215031401',
 'BENGWORDEN': '205021086',
 'PORT FRANKLIN': '205031087',
 'BUNINYONG': '201011005',
 'AVOCA': '201031013',
 'YARRAM': '205051104',
 'HIGHLANDS': '204011062',
 'FOSTER NORTH': '205031087',
 'KOROIT': '217041480',
 'GARDENVALE': '208011169',
 'WATSONIA NORTH': '209011196',
 'NEWRY': '205051101',
 'BAMAWM EXTENSION': '216011408',
 'WALLINGTON': '203031490',
 'MODELLA': '205011076',
 'CHILTERN': '204031068',
 'WISELEIGH': '205021082',
 'SEAHOLME': '213021341',
 'PAKENHAM SOUTH': '212011549',
 'LENEVA': '204031491',
 'CREMORNE': '206071518',
 'JACANA': '210051242',
 'CHEWTON': '202021027',
 'EAST BAIRNSDALE': '205021081',
 'GORDON': '201021012',
 'FOSTER': '205031087',
 'TORRUMBARRY': '216011408',
 'LYSTERFIELD': '211011257',
 'LANGKOOP': '215011393',
 'TATONG': '204021064',
 'MORTLAKE': '217041477',
 'BREAKWATER': '203021039',
 'BLAMPIED': '201021011',
 'IRYMPLE': '207011154',
 'NEWMERELLA': '205021085',
 'FERNY CREEK': '211051282',
 'EPSOM': '202011023',
 'COHUNA': '203021486',
 'ROKEBY': '205011077',
 'PAYNESVILLE': '209011202',
 'FORGE CREEK': '205021086',
 'YENDON': '201021012',
 'BOLINDA': '210021235',
 'KEILOR': '213011340',
 'AXE CREEK': '202021026',
 'HIGH CAMP': '204011056',
 'MINERS REST': '201021010',
 'TUERONG': '214021378',
 'SHELBOURNE': '202021026',
 'STEELS CREEK': '211051276',
 'FLORA HILL': '202011020',
 'CANNONS CREEK': '212031308',
 'BYAWATHA': '204021067',
 'GRANITE ROCK': '205021082',
 'GARFIELD': '212011547',
 'NAGAMBIE': '212041563',
 'WATERFORD PARK': '209041224',
 'INVERMAY PARK': '201011482',
 'NEWHAM': '202021031',
 'YARRAGON': '205011079',
 'ESSENDON WEST': '206031116',
 'MERRIJIG': '204011057',
 'SURF BEACH': '205031091',
 'HAVEN': '215011389',
 'GNOTUK': '217031474',
 'CULGOA': '215031400',
 'MACEDON': '210021233',
 'KINGLAKE': '211051276',
 'TAYLORS LAKES': '210011228',
 'COWWARR': '205051102',
 'WONGA PARK': '211031265',
 'BUNBARTHA': '216031418',
 'HOPETOUN PARK': '213041353',
 'LOCKINGTON': '216011408',
 'SKYE': '212031303',
 'GARVOC': '217041477',
 'RAWSON': '205011077',
 'STRATHFIELDSAYE': '202011018',
 'MARLO': '205021085',
 'PHEASANT CREEK': '209031211',
 'ARMSTRONG': '203021485',
 'POINT LEO': '214021378',
 'INGLEWOOD': '202031033',
 'MAIN RIDGE': '214021378',
 'GEMBROOK': '211051286',
 'MALMSBURY': '202021030',
 'POOWONG NORTH': '205031089',
 'GLENMAGGIE': '205051101',
 'LOCH': '205031093',
 'WOODLEIGH': '205031093',
 'RAINBOW': '215011390',
 'MOUNT EVELYN': '211051285',
 'YANNATHAN': '212011548',
 'MANDURANG SOUTH': '202021026',
 'SEAVIEW': '205011079',
 'TYABB': '214021385',
 'ATTWOOD': '210051245',
 'OAKLANDS JUNCTION': '210041240',
 'BANNOCKBURN': '203011034',
 'CERES': '203021042',
 'SMOKO': '204031069',
 'NAROGHID': '217031474',
 'MERBEIN': '207011149',
 'KOONDROOK': '215031401',
 'ST ANDREWS BEACH': '214021383',
 'WARRION': '217031473',
 'NORTH WARRANDYTE': '211021262',
 'DEANS MARSH': '217031473',
 'KNOWSLEY': '202021029',
 'BELLS BEACH': '203031053',
 'TARRA VALLEY': '205051104',
 'SUNDAY CREEK': '204011056',
 'RIDDELLS CREEK': '210021234',
 'MOGGS CREEK': '203031049',
 'RIVERSLEA': '205051101',
 'WALDARA': '204021066',
 'SEBASTIAN': '201011484',
 'EUROA': '204011055',
 'DRIFFIELD': '205041094',
 'HADDON': '201011007',
 'BAGSHOT': '204021063',
 'CAMPBELLTOWN': '201021010',
 'BONSHAW': '214021377',
 'BROWN HILL': '203021042',
 'DENVER': '201021011',
 'TECOMA': '211051284',
 'MYERS FLAT': '202011019',
 'KANCOONA': '204031069',
 'NEWBOROUGH': '207021157',
 'KINGS PARK': '213011334',
 'MOUNT TAYLOR': '205021081',
 'MALDON': '202021028',
 'NARRACAN': '205011078',
 'MYSTIC PARK': '215031401',
 'TOOLANGI': '211051276',
 'GLENBURN': '204011062',
 'YARRA GLEN': '209041217',
 'SEVILLE': '211051285',
 'KIALLA WEST': '216031593',
 'LYNBROOK': '212031561',
 'BOONAH': '203031049',
 'PORTARLINGTON': '203031051',
 'ASCOT': '206011496',
 'NOOJEE': '205011077',
 'MONTROSE': '211051283',
 'RIPPLESIDE': '213051583',
 'GOWANBRAE': '210031536',
 'GRANTVILLE': '205031093',
 'MAIDEN GULLY': '202021029',
 'COLIGNAN': '215021398',
 'NAVARRE': '201031013',
 'WAAIA': '216021413',
 'FREEBURGH': '204031069',
 'DEVON MEADOWS': '212031308',
 'BARRYS REEF': '201021009',
 'MENZIES CREEK': '211051282',
 'TRESCO': '215031405',
 'KILLARA': '204031491',
 'ARDEER': '213041359',
 'ELAINE': '201021012',
 'BAXTER': '214021385',
 'LEONGATHA': '205031089',
 'BUCHAN': '205021085',
 'CARDINIA': '212011548',
 'DIXONS CREEK': '211051276',
 'DARTMOUTH': '204031072',
 'ALBERTON': '205051104',
 'NYAH': '215031405',
 'WONWONDAH': '215011389',
 'NEWBRIDGE': '202031033',
 'DANDENONG SOUTH': '212041563',
 'LANGSBOROUGH': '205051104',
 'YINNAR SOUTH': '205041094',
 'SEATON': '205051101',
 'LONGWARRY NORTH': '205011076',
 'ANGLESEA': '203031049',
 'COORIEMUNGLE': '217031475',
 'LUCKNOW': '205021082',
 'GHERANG': '203011036',
 'BOORT': '202031033',
 'YALLOURN NORTH': '205041098',
 'COCKATOO': '212011289',
 'POINT LONSDALE': '203031052',
 'AMPHITHEATRE': '201031013',
 'BREAMLEA': '203031489',
 'HARRIETVILLE': '210041539',
 'DROUIN EAST': '205011079',
 'EDENHOPE': '215011393',
 'GLADYSDALE': '211051286',
 'SANDFORD': '217011420',
 'BAMBRA': '203011036',
 'ALLESTREE': '217011420',
 'PORT WELSHPOOL': '205031087',
 'SPRINGMOUNT': '201021010',
 'MANDURANG': '202021026',
 'FULHAM': '205051102',
 'WANNON': '217011423',
 'MURTOA': '215011394',
 'HEALESVILLE': '208011170',
 'DEVENISH': '204021064',
 'MANNS BEACH': '205051104',
 'PENSHURST': '217011423',
 'UPTON HILL': '204011058',
 'KORWEINGUBOORA': '201021011',
 'LOWER NORTON': '215011389',
 'PIPERS CREEK': '202021030',
 'CAPE BRIDGEWATER': '217011420',
 'SAILORS GULLY': '202011019',
 'NEWINGTON': '201011484',
 'BURNLEY': '206071517',
 'BALLIANG': '203021043',
 'MUCKATAH': '216021413',
 'WURRUK': '205051103',
 'YARCK': '204011054',
 'YACKANDANDAH': '204031070',
 'WHITEHEADS CREEK': '204011060',
 'SARSFIELD': '205021082',
 'STANHOPE': '216011410',
 'LISMORE': '217031474',
 'SCARSDALE': '201031015',
 'AVENEL': '204011058',
 'WARRANDYTE SOUTH': '211021262',
 'CROYDON NORTH': '211031451',
 'HUMEVALE': '209041225',
 'HAWKESDALE': '217041478',
 'EILDON': '204011054',
 'TYNONG': '212011547',
 'MITCHELL PARK': '201011008',
 'DONALD': '215031400',
 'KILCUNDA': '205031093',
 'GREENDALE': '201021009',
 'DERRINAL': '202021029',
 'NEERIM SOUTH': '202011020',
 'PIRRON YALLOCK': '217031475',
 'SWAN REACH': '205021084',
 'MOSSIFACE': '205021082',
 'MOUNT ROWAN': '201011008',
 'KERANG': '215031402',
 'SEPARATION CREEK': '217031476',
 'LONDRIGAN': '204021067',
 'DRUMMOND NORTH': '201021011',
 'STRATHBOGIE': '204011055',
 'BARONGAROOK WEST': '217031473',

In [12]:
df['type'].unique()

array(['Unit/apmt', 'House'], dtype=object)

In [13]:
future_df = df[[
    'suburb', 'type', 'sa2_code', 'bed', 'bath', 'car', 'time_city',
    'avg_property_price', 'rented_price'
]]
future_df

,suburb,type,sa2_code,bed,bath,car,time_city,avg_property_price,rented_price
0,MELBOURNE,Unit/apmt,206041505,2.0,2.0,1.0,263.3,682488.770000,800
1,MELBOURNE,Unit/apmt,206041505,2.0,2.0,1.0,263.3,682488.770000,800
2,MELBOURNE,Unit/apmt,206041505,2.0,2.0,1.0,263.3,619543.745192,540
3,MELBOURNE,Unit/apmt,206041505,2.0,1.0,0.0,263.3,682488.770000,720
4,MELBOURNE,Unit/apmt,206041505,2.0,1.0,0.0,263.3,682488.770000,650
...,...,...,...,...,...,...,...,...,...
1318424,PAKENHAM,House,212011552,3.0,1.0,0.0,3251.4,843219.858156,520
1318425,PAKENHAM,House,212011551,3.0,2.0,2.0,3126.4,843219.858156,500
1318426,PAKENHAM,House,212011551,3.0,2.0,2.0,3126.4,843219.858156,500
1318427,PAKENHAM,Unit/apmt,212011550,4.0,2.0,2.0,3297.1,843219.858156,580
1318428,PAKENHAM,Unit/apmt,212011552,3.0,2.0,2.0,2960.2,843219.858156,520

In [14]:
# group by suburb, type, and sa2_code - aggregate by average for the rest
future_df = future_df.groupby([
    'suburb', 'type', 'sa2_code'
]).agg({
    'bed': 'mean',
    'bath': 'mean',
    'car': 'mean',
    'time_city': 'mean',
    'avg_property_price': 'mean',
    'rented_price': 'mean'
}).reset_index()
future_df

,suburb,type,sa2_code,bed,bath,car,time_city,avg_property_price,rented_price
0,ABBOTSFORD,House,206071139,2.336884,1.288948,0.708389,584.456458,5.635304e+05,629.098535
1,ABBOTSFORD,House,206071517,2.000000,1.000000,2.000000,598.700000,6.325728e+05,642.000000
2,ABBOTSFORD,House,206071518,1.333333,1.000000,0.833333,612.500000,5.748636e+05,476.666667
3,ABBOTSFORD,House,207011521,3.000000,2.000000,1.000000,923.200000,4.848551e+05,720.000000
4,ABBOTSFORD,Unit/apmt,203021047,1.000000,1.000000,0.000000,475.100000,6.516417e+05,366.666667
...,...,...,...,...,...,...,...,...,...
4964,YINNAR,House,205031090,4.000000,2.000000,4.000000,7123.600000,6.017227e+05,550.000000
4965,YINNAR,House,205041094,3.328358,1.701493,1.910448,7307.419403,5.062333e+05,392.462687
4966,YINNAR,Unit/apmt,205041094,2.805556,1.361111,2.277778,7308.608333,4.844415e+05,337.083333
4967,YINNAR SOUTH,House,205041094,3.666667,2.000000,2.666667,7742.800000,9.439556e+05,440.000000
4968,YINNAR SOUTH,Unit/apmt,205041094,3.333333,1.000000,1.666667,7822.533333,1.864567e+06,235.000000

In [18]:
# import future predictions data

# CPI
future_cpi = pd.read_csv('../data/raw/predictions/cpi_data.csv')
future_cpi_2029 = float(
    future_cpi[future_cpi['year'] == 2029]['Annual change (%)'] \
    .iloc[0]
)

# Unemployment rate
future_unemployment = pd.read_csv('../data/raw/predictions/yearly_avg_unemployment.csv')
future_unemployment_2029 = float(
    future_unemployment[
        future_unemployment['year'] == 2029
    ]['Yearly Average Seasonally Adjusted (%)'] \
    .iloc[0]

)

# Median income
future_income = pd.read_csv('../data/raw/predictions/predicted_median_income.csv')
future_income_2029_df = future_income[
    future_income['year'] == 2029
][['sa2_code', 'median_income']]
future_income_2029_df['sa2_code'] = future_income_2029_df['sa2_code'].astype(str)

# Population
future_population = pd.read_csv('../data/raw/predictions/population_prediction.csv')
future_population_2029_df = future_population[
    future_population['year'] == 2029
][['Statistical Areas Level 2 2021 code', 'Projected persons (total)']]
future_population_2029_df = future_population_2029_df.rename(columns={
    'Statistical Areas Level 2 2021 code': 'sa2_code',
    'Projected persons (total)': 'population'
})
future_population_2029_df['sa2_code'] = future_population_2029_df['sa2_code'].astype(str)

# merge future predictions data
future_df_merge = future_df.merge(future_income_2029_df, on='sa2_code', how='inner')
future_df_merge = future_df_merge.merge(future_population_2029_df, on='sa2_code', how='inner')
future_df_merge['cpi'] = future_cpi_2029
future_df_merge['unemployment_rate'] = future_unemployment_2029
future_df_merge

,suburb,type,sa2_code,bed,bath,car,time_city,avg_property_price,rented_price,median_income,population,cpi,unemployment_rate
0,ABBOTSFORD,House,206071139,2.336884,1.288948,0.708389,584.456458,5.635304e+05,629.098535,91257.253099,11728,2.5,4.59
1,ABBOTSFORD,House,206071517,2.000000,1.000000,2.000000,598.700000,6.325728e+05,642.000000,98618.500273,19800,2.5,4.59
2,ABBOTSFORD,House,206071518,1.333333,1.000000,0.833333,612.500000,5.748636e+05,476.666667,106468.023481,17087,2.5,4.59
3,ABBOTSFORD,House,207011521,3.000000,2.000000,1.000000,923.200000,4.848551e+05,720.000000,89531.438200,11798,2.5,4.59
4,ABBOTSFORD,Unit/apmt,203021047,1.000000,1.000000,0.000000,475.100000,6.516417e+05,366.666667,70447.277529,16323,2.5,4.59
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4964,YINNAR,House,205031090,4.000000,2.000000,4.000000,7123.600000,6.017227e+05,550.000000,59549.916415,12427,2.5,4.59
4965,YINNAR,House,205041094,3.328358,1.701493,1.910448,7307.419403,5.062333e+05,392.462687,64001.329257,12617,2.5,4.59
4966,YINNAR,Unit/apmt,205041094,2.805556,1.361111,2.277778,7308.608333,4.844415e+05,337.083333,64001.329257,12617,2.5,4.59
4967,YINNAR SOUTH,House,205041094,3.666667,2.000000,2.666667,7742.800000,9.439556e+05,440.000000,64001.329257,12617,2.5,4.59
4968,YINNAR SOUTH,Unit/apmt,205041094,3.333333,1.000000,1.666667,7822.533333,1.864567e+06,235.000000,64001.329257,12617,2.5,4.59

## Output to CSVs

In [19]:
output = False
if output:
    create_dir('../data/curated')
    # df.to_csv('../data/curated/rental-17-24.csv', index=False)
    future_df_merge.to_csv('../data/curated/suburb-rental-29.csv', index=False)
    with open('../data/curated/suburb_to_sa2.json', 'w') as f:
        json.dump(suburb_sa2_dict, f)

Directory already exists: ../data/curated